
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 5px 32px 5px 5px;
    transition: 0.3s;
    display: inline-block; 
    width: 300px;
    Height: 500px;
    font-family: "Inconsolata";
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }

  .h3{
    font-family: "Inconsolata";
  }